<!-- About Section -->
<section id="about">
  <div class="container about-container">
    <img src="./images/about.jpg" alt="Team" width="670" />
    <div class="about-right-side">
      <p class="sup-title about-suptitle">What you are looking for</p>
      <h2 class="section-title about-section-title">
        We provide bespoke solutions
      </h2>
      <p class="text about-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button type="button" class="text button-about">Read More</button>
    </div>
  </div>
</section>
