.container {
  width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 28px;
  padding-right: 28px;
}

.sup-title {
  font-size: 20px;
  line-height: 1.65;
}

.section-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.text {
  font-size: 18px;
  line-height: 1.56;
}
