/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('./about.css');

:root {
  /* Colors */
  --main-color: #333333;
  --light-color: #ffffff;
  --accent-color: #28a745;

  --main-color: #333333;
  --secondary-color: #808080;
  --light-color: #ffffff;
  --secondary-bg-color: #f4f4f4;

  /* Transition */
  --transition-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
